@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,*::before,*::after{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}
i,
svg {
    pointer-events: none;
}
header {
    text-align: center;
    font-size:1rem;
    font-weight: bold;
    margin-top: 3rem;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clap-track,.hihat-track,.kick-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
select {
    padding: 1rem;
    font-size: 1rem;
}

.mute.active {
    background: rgb(182, 182, 182);
}

/*Pads*/

.pad{
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.clap-pads,.hihat-pads,.kick-pads{
    display: flex;
    margin: auto;
}
.clap-pad {
    background: rgb(247, 193, 202);
}
.hihat-pad {
    background: rgb(184, 219, 243);
}
.kick-pad {
    background: rgb(248, 193, 130);
}

.clap-pad.active {
    background: rgb(247, 90, 116);
}

.hihat-pad.active {
    background: rgb(96, 185, 245);
}

.kick-pad.active {
    background: rgb(253, 166, 67);
}

/*Tempo*/

.tempo {
    width: 40%;
}
.tempo-slider {
    margin: 2rem 0 1rem;
    padding: 0.2rem;
    -webkit-appearance: none;
    background: rgb(88, 88, 88);
    width:100%;
    border-radius: 0.5rem;
    cursor: pointer;
}
.tempo p {
    font-size: 1.5rem;
    text-align: center;
}

/*Play*/

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88, 88, 88);
    color: white;
    border: none;
    cursor: pointer;
    margin: 2rem 0;
}
.play.active {
    background: rgb(37, 37, 37);
}

/*animation*/
@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/*Media Queries*/

@media screen and (max-width:750px) {
    header {
        margin-top: 1.5rem;
    }
    header h1{
        font-size:1.5rem;
    }
    .controls h1{
        font-size:1rem;
    }
    .controls button {
        padding: 0.4rem;
        margin: 0 0 0 0.5rem;
    }
    .clap-track,
    .hihat-track,
    .kick-track {
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .pad {
        height: 2rem;
        width: 2rem;
        margin: 0.25rem;
    }
    .tempo {
        width: 70%;
    }
    .tempo p {
        font-size: 0.75rem;
    }
    .play {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 1rem 0;
    }
}